body {
     margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */

    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: Arial;
    color: white;
    text-align: center;
}

.main {
    margin-top: 60px;
}

textarea {
    width: 100%;
    height: 350px;
    padding: 15px;
    border-radius: 12px;
    border: none;
}

button {
    padding: 20px 30px;
    border-radius: 20px;
    background: #00c6ff;
    border: none;
    cursor: pointer;
    color: white;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}

.card {
    background: rgba(255,255,255,0.1);
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
}

.live-btn {
    display: inline-block;
    margin-top: 20px;
    color: yellow;
}
